<?xml version='1.0' encoding='utf-8'?>
<widget id="io.mercury-school-journal.mercury" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mercury</name>
    <description>An application for managing the Mercury journal (frontend)</description>
    <author email="p.rutkow@o2.pl" href="https://pawi1.github.io">
        Pawil
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
